@model StockApp.Models.DocumentsModel

@{
    ViewData["Title"] = "DocumentDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalii Document Intrare</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
  @*      <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocId)
        </dd>*@
        <dt class = "col-sm-2">
            <label>"Tip Document"</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocType.DocType)
        </dd>
        <dt class = "col-sm-2">
            <label>Nr Document</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocNumber)
        </dd>
        <dt class = "col-sm-2">
            <label>Data Document</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocDate)
        </dd>
        <dt class = "col-sm-2">
           <label>Furnizor</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seller.SellerName)
        </dd>
        <dt class = "col-sm-2">
           <label>Valoare Totala</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocTotalValue)
        </dd>
        <dt class = "col-sm-2">
            <label>Valoare Fara TVA</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocTotalValueWithoutVat)
        </dd>
        <dt class = "col-sm-2">
            <label>Valoare TVA</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocTotalValueVat)
        </dd>
        <dt class = "col-sm-2">
            <label>Valid</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsValid)
        </dd>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WhenValidated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WhenValidated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValidatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValidatedBy)
        </dd>*@
    </dl>
</div>
<h3></h3>
<div>
    @Html.ActionLink("Modificare", "Edit", new {  id = Model.DocId  }, new{@class="btn btn-primary"} ) 
    <h3></h3>
    <a asp-action="Index" class="btn btn-primary">Inapoi</a>
</div>
