@model IEnumerable<StockApp.ViewModel.DocumentsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Documente Intrari</h1>


<table class="table">
    <thead>
        <tr>
    @*        <th>
                @Html.DisplayNameFor(model => model.DocId)
            </th>*@
            <th>
                <label>Tip Document</label>
             @*   @Html.DisplayNameFor(model => model.DocumentType)*@
            </th>
            <th>
                <label>Nr. Document</label>
   @*             @Html.DisplayNameFor(model => model.DocNumber)*@
            </th>
            <th>
                <label>Data Document</label>
             @*   @Html.DisplayNameFor(model => model.DocDate)*@
            </th>
            <th>
                <label>Furnizor</label>
        @*        @Html.DisplayNameFor(model => model.SellerName)*@
            </th>
            <th>
                <label>Valoare</label>
           @*     @Html.DisplayNameFor(model => model.DocTotalValue)*@
            </th>
            <th>
                <label>Valoare\TVA</label>
             @*   @Html.DisplayNameFor(model => model.DocTotalValueWithoutVat)*@
            </th>
            <th>
                <label>Valoare TVA</label>
              @*  @Html.DisplayNameFor(model => model.DocTotalValueVat)*@
            </th>
            <th>
                <label>Valid</label>
            </th>@*
            @*<th>
                @Html.DisplayNameFor(model => model.WhenValidated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidatedBy)
                </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        @*    <td>
                @Html.DisplayFor(modelItem => item.DocId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DocumentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocNumber)
            </td>
                <td>
                     
                @Html.DisplayFor(modelItem => item.DocDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocTotalValue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocTotalValueWithoutVat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DocTotalValueVat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsValid)
            </td>
  @*          <td>
                @Html.DisplayFor(modelItem => item.WhenValidated)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidatedBy)
            </td>*@
                <td align="right">
                    @Html.ActionLink("Modificare", "Edit", new {  id=item.DocId  }, new{@class="btn btn-primary"}) 
                @*    @Html.ActionLink("Detalii", "Details", new {  id=item.DocId  }, new{@class="btn btn-primary"})*@
                    @Html.ActionLink("Stergere", "Delete", new {  id=item.DocId }, new{@class="btn btn-primary"})
            </td>
        </tr>
}
    
    </tbody>
</table>

<h3></h3>
<p>
    <a asp-action="Create" class="btn btn-primary">Adaugare</a>
</p>