@model IEnumerable<StockApp.Models.DocumentTypeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
          @*  <th>
                @Html.DisplayNameFor(model => model.DocTypeId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DocType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        @*    <td>
                @Html.DisplayFor(modelItem => item.DocTypeId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DocType)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.DocTypeId  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.DocTypeId  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.DocTypeId  })
            </td>
        </tr>
}
    </tbody>
</table>
