@model IEnumerable<StockApp.ViewModel.SellersViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nomenclator Furnizori</h1>

<table class="table">
    <thead>
        <tr>
    @*        <th>
                @Html.DisplayNameFor(model => model.SellerId)
            </th>*@
            <th>
               @* @Html.DisplayNameFor(model => model.SellerName)*@
                <label>Furnizor</label>
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.SellerUic)*@
                <label>CUI</label>
            </th>
            <th>
               @* @Html.DisplayNameFor(model => model.CountryName)*@
                <label>Tara</label>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.DistrictName)*@
                <label>Judet</label>
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.SellerAddress)*@
                <label>Adresa</label>
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.SellerPhone)*@
                <label>Telefon</label>
            </th>
            <th>
           @*     @Html.DisplayNameFor(model => model.BlackListed)*@
                <label>Inactiv</label>
            </th>
            <th>
              @*  @Html.DisplayNameFor(model => model.BlackListMotive)*@
                <label>Motiv Inactiv</label>
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.BlackListTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackListWho)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        @*    <td>
                @Html.DisplayFor(modelItem => item.SellerId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerUic)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackListed)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.BlackListMotive)
            </td>
                @*
            <td>
                @Html.DisplayFor(modelItem => item.BlackListTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackListWho)
            </td>*@
            <td>
                    @Html.ActionLink("Modificare", "Edit", new {  id=item.SellerId }, new {@class="btn btn-primary"}) 
                    @Html.ActionLink("Detalii", "Details", new {  id=item.SellerId  }, new {@class="btn btn-primary"}) 
                    @Html.ActionLink("Stergere", "Delete", new {  id=item.SellerId  }, new {@class="btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>


<p>
    <a asp-action="Create" class="btn btn-primary">Adaugare</a>
</p>