@model IEnumerable<StockApp.Models.SellersModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
    @*        <th>
                @Html.DisplayNameFor(model => model.SellerId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.SellerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerUic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerDistrict)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellerPhone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackListed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackListMotive)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.BlackListTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlackListWho)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
        @*    <td>
                @Html.DisplayFor(modelItem => item.SellerId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.SellerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerUic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerDistrict)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SellerPhone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackListed)
            </td>
           <td>
                @Html.DisplayFor(modelItem => item.BlackListMotive)
            </td>
                @*
            <td>
                @Html.DisplayFor(modelItem => item.BlackListTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlackListWho)
            </td>*@
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.SellerId }) |
                @Html.ActionLink("Details", "Details", new {  id=item.SellerId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.SellerId  })
            </td>
        </tr>
}
    </tbody>
</table>
