@model StockApp.Models.SellersModel

@{
    ViewData["Title"] = "SellerDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>SellerDetails</h1>

<div>
    <h4>SellersModel</h4>
    <hr />
    <dl class="row">
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerUic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerUic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerCountry)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerDistrict)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerDistrict)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellerPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellerPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlackListed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlackListed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlackListMotive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlackListMotive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlackListTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlackListTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BlackListWho)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BlackListWho)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.SellerId  }) |
    <a asp-action="Index">Back to List</a>
</div>
