@model IEnumerable<StockApp.Models.CountriesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nomenclator Tari</h1>


<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.CountryId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.CountryId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CountryName)
            </td>
            <td> 
                    @Html.ActionLink("Modificare", "Edit", new { id=item.CountryId  } , new {@class="btn btn-primary"})
                    @* @Html.ActionLink("Detalii", "Details", new {  id=item.CountryId  }) |*@
                    @Html.ActionLink("Stergere", "Delete", new {  id=item.CountryId  }, new {@class="btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>
<h3></h3>
<p>
    <a asp-action="Create" class="btn btn-primary" >Adaugare</a>
</p>
