@model IEnumerable<StockApp.Models.CategoriesModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nomenclator Categorii</h1>


<table class="table">
    <thead>
        <tr>
    @*        <th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.CategoyName)
            </th>
            <th hidden>
                @Html.DisplayNameFor(model => model.CategoryDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
@*            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoyName)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.CategoryDescription)
            </td>
                <td align="right">
                    @Html.ActionLink("Modificare", "Edit", new {  id=item.CategoryId  }, new {@class="btn btn-primary"}) 
                    @Html.ActionLink("Detalii", "Details", new {  id=item.CategoryId  } , new {@class="btn btn-primary"})
                    @Html.ActionLink("Stergere", "Delete", new {  id=item.CategoryId  }, new {@class="btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary">Adaugare</a>
</p>
