@model StockApp.Models.DocumentDetailsModel

@{
    ViewData["Title"] = "DocumentDetailsEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>DocumentDetailsEdit</h1>

<h4>DocumentDetailsModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="DocDetId" class="control-label"></label>
                <input asp-for="DocDetId" class="form-control" />
                <span asp-validation-for="DocDetId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DocId" class="control-label"></label>
                @Html.DropDownList("DocId", new SelectList(@ViewBag.Documents, "Value", "Text"), "", new { @class="form-control"})
                <span asp-validation-for="DocId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductId" class="control-label"></label>
                @Html.DropDownList("ProductId", new SelectList(@ViewBag.Products, "Value", "Text"), "", new { @class="form-control"})
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unitprice" class="control-label"></label>
                @Html.TextBoxFor(m => m.Unitprice,
                new { @type = "number", @class = "form-control", @min = "0.01" })
                <span asp-validation-for="Unitprice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vat" class="control-label"></label>
                @Html.TextBoxFor(m => m.Vat,
                new { @type = "number", @class = "form-control", @min = "0" })
                <span asp-validation-for="Vat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                @Html.TextBoxFor(m => m.Quantity,
                new { @type = "number", @class = "form-control", @min = "1" })
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="QuantityRemaining" class="control-label"></label>
                <input asp-for="QuantityRemaining" value="m.Quantity" class="form-control" />
                <span asp-validation-for="QuantityRemaining" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
