@model IEnumerable<StockApp.ViewModel.DocumentDetailsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalii Document</h1>


<table class="table">
    <thead>
        <tr>
  @*          <th>
                @Html.DisplayNameFor(model => model.DocDetId)
            </th>*@
            <th>
               <label>Nr Document</label>
            </th>
            <th>
                <label>Produs</label>
            </th>
            <th>
                <label>Pret unitar</label>
            </th>
            <th>
                <label>TVA</label>
            </th>
            <th>
                <label>Cantitate</label>
            </th>
            <th>
                <label>Cantitate Ramasa</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
     @*       <td>
                @Html.DisplayFor(modelItem => item.DocDetId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unitprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityRemaining)
            </td>
                <td align="right">
                    @Html.ActionLink("Modificare", "Edit", new {  id=item.DocDetId  } , new{@class="btn btn-primary"}) 
              @*      @Html.ActionLink("Details", "Details", new {  id=item.DocDetId  }) |*@
                    @Html.ActionLink("Stergere", "Delete", new {  id=item.DocDetId  }, new{@class="btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>
<h3></h3>
<p>
    <a asp-action="Create" class="btn btn-primary">Adaugare</a>
</p>