@model IEnumerable<StockApp.ViewModel.DocumentDetailsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
  @*          <th>
                @Html.DisplayNameFor(model => model.DocDetId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unitprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityRemaining)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
     @*       <td>
                @Html.DisplayFor(modelItem => item.DocDetId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Document)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unitprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityRemaining)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.DocDetId  }) |
                    @Html.ActionLink("Details", "Details", new {  id=item.DocDetId  }) |
                    @Html.ActionLink("Delete", "Delete", new {  id=item.DocDetId  })
            </td>
        </tr>
}
    </tbody>
</table>
