@model IEnumerable<StockApp.Models.UsageTypeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
     @*       <th>
                @Html.DisplayNameFor(model => model.UsageTypeId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.UsageType1)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           @* <td>
                @Html.DisplayFor(modelItem => item.UsageTypeId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UsageType1)
            </td>
                <td align ="right">
                @Html.ActionLink("Edit", "Edit", new {  id=item.UsageTypeId  }) |
               @* @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new {  id=item.UsageTypeId  })
            </td>
        </tr>
}
    </tbody>
</table>
