@model StockApp.Models.DistrictsModel

@{
    ViewData["Title"] = "DistrictDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalii Judet/District</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row" disabled>
@*        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictId)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DistrictName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryId)
        </dt>
        <dd class = "col-sm-10" disabled>
            @Html.DropDownList("CountryId", new SelectList(@ViewBag.Countries, "Value", "Text"), new {@class="form-control"} )
        </dd>
    </dl>
</div>
<h4></h4>
<div>
    @Html.ActionLink("Modificare", "Edit", new {  id = Model.DistrictId  }) |
    <a asp-action="Index" class="btn btn-primary">Inapoi</a>
</div>
