@model IEnumerable<StockApp.ViewModel.DistrictsViewModel>
 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nomenclator Judete/District</h1>


@if (Model != null)
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DistrictName)
            </th>
            <th>
                <label>Tara</label>
              
             
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
            </td>
                    <td align="right">
                        @Html.ActionLink("Modificare", "Edit", new {  id=item.DistrictId },  new  {@class="btn btn-primary"} )  
              @*  @Html.ActionLink("Detalii", "Details", new {  id=item.DistrictId  }) |*@
                        @Html.ActionLink("Stergere", "Delete", new {  id=item.DistrictId  },  new  {@class="btn btn-primary"})
            </td>
        </tr>
}
    </tbody>   
</table>
    <h3></h3>
    <p>
        <a asp-action="Create" class="btn btn-primary" >Adaugare</a>
    </p>
}

        else
        {
            <p>Empty Model</p>
        }