@model IEnumerable<StockApp.ViewModel.ProductsViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Nomenclator Produse</h1>

<table class="table">
    <thead>
        <tr>
  @*          <th>
                @Html.DisplayNameFor(model => model.ProductId)
            </th>*@
            <th>
                <label>Produs</label>
               @* @Html.DisplayNameFor(model => model.ProductName)*@
            </th>
            <th>
                <label>Categorie</label>
                @*@Html.DisplayNameFor(model => model.CategoryName)*@
            </th>
            <th>
                <label>Utilizat</label>
              @*  @Html.DisplayNameFor(model => model.ProductInUse)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
       @*     <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductInUse)
            </td>
            <td>
                    @Html.ActionLink("Modificare", "Edit", new {  id=item.ProductId  }, new {@class="btn btn-primary"}) 
                    @Html.ActionLink("Detalii", "Details", new {  id=item.ProductId  }, new {@class="btn btn-primary"})
                    @Html.ActionLink("Stergere", "Delete", new {  id=item.ProductId  }, new {@class="btn btn-primary"})
            </td>
        </tr>
}
    </tbody>
</table>

<p>
    <a asp-action="Create" class="btn btn-primary" >Adaugati</a>
</p>
